# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.unityExport.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
/indexLayout.xml
/riderModule.iml
/vcs.xml
